/* Global */
:root {
    /* Color */
    --color-white:  #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white:#bdbdbd;
    --color-pink:#fe918d;
    --color-dark-pink:#ff6863;
    --color-grey:#616161;
    --color-blue:#73aace;
    --color-yellow:#fff7d1;
    --color-orange:#feb546;
    --color-black:#000000;

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    /* Font weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;



    /* Size */
    --size-border-radius:4px;

    /* Animation  */
    --animation-duration: 300ms;
}
/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: 'Roboto', sans-serif;
    cursor:default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0 ;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-boldbold);
    color: var(--color-black);
    margin: 8px 0 ;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0 ;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0 ;
}


/* Navbar */
#navbar {
    display: flex; 
    justify-content: space-between;
    background-color: olivedrab;
    align-items: center; 
    padding: 16px;
}

.navbar__menu {
    display: flex;
    color:var(--color-white);   
}

.navbar__logo {
    font-size:  var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
    
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-pink);
    
}

/* Home */

#home {
    background-color: palevioletred; co
    /* url('img/background/background.png'); 왜 안되지? */
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width : 250px;
    height : 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description {
    color:  var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* section common */

.section {
    padding :50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin:auto;
}

/* About */

.about__majors {
    display: flex;
    justify-content: space-between;
    margin : 80px 0 ;
}

.major__icon {
    /* background-color: yellow;
    눈에 잘 확인해가며 하기 위해 임의로 색을 지정하기도 한다.*/
    width: 170px;
    height: 170px;
    line-height: 170px;
    color:blue;
    font-size: 70px;
    margin : auto;
    border:1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}


.major__icon i {
    transition: all var(--animation-duration) ease;
    /* 300ms는 답답하지 않은 표준화된 수치 */
}

.major__icon:hover i {
    /* icon클래스 전체말고 i 즉, 아이콘에 호버가 되었을때만 액션 */
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
    color: var(--color-grey);
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period{
    color: var(--color-grey);
}

.job__name { 
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

/* SKill */

#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-grey);
    color:var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
    margin-top: 16px;
}

.skillset__right {
    flex-basis: 40%;
}

.skillset__left {
    flex-basis:  60%;
    background-color: darkgray;
}

.skill {
    padding : 8px;
    margin-bottom: 32px;
}

.skilldescription {
    display: flex;
    justify-content: space-between;
    padding:20px 40px;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value { 
    /* width:100%; HTML,JAVASCRIPT,JAVA모두에게같은값이
    적용되어버리므로 style태그에 각각따로
    설정해주기. */
    height: 3px;
    background-color: var(--color-orange);
}

.tools,
.etc {
    padding: 20px;
}

/* Work */
.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.work__categories {
    margin: 40px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top:0;
}

.category__count{
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    /* span이기 때문에 모양이 찌그러져 보인다.
    이럴땐 inline-block처리하고 line height를 
    span의 사이즈에 맞추면 동그랗게 가운데 온다. */
    line-height: 24px;
    display: inline-block;
    position: relative;
    top:-20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration);
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    position: relative;
    /* description이 position : absolute 이므로
    바로 가까이 위에있는 부모인 projects를 static 이
    아닌 상태로 만들어줘야 project를 기준으로 top,left 자리를 
    정한다. */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-white);
}

.project__img {
    max-width: 100%;
    max-heigt: 100%;
}

.project__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    transform: translateY(10px);
    /* 위치를 10px정도 y축 아래로 맞춰놓고,
    opcitiy가 0.8될 때 제 자리로 돌려놓을것  */
    transition: all var(--animation-duration);

}

.projects:hover .project__description {
    /* projects가 마우스 hover되었을때
    그 하위클래스인 projects description에서~
    화면이 생겨나게~ */
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3{
    color: var(--color-white);
}

.project__description h3:after {
    content: "";
    display: block;
    position: relative;
    left:50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    background-color: var(--color-dark-white);
    margin-top: 8px;
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}
.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonials__speech-bubble {
    padding : 18px;
    background-color: var(--color-white);
}

.testimonials__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;    
}

.testimonials__avatar:nth-child(odd) {
    margin-right:40px;
}

.testimonials__avatar:nth-child(even) {
    margin-left:40px;
}

.testimonials__speech-bubble p {
    color: var(--color-grey);
}

.testimonials__speech-bubble a {
    color: var(--color-pink);
}

/* Contact */
#contact {
    background-color: var(--color-pink);
}

.contact__email,
.contact__tilte,
.contact__rights {
    color : var(--color-white);
}

.contact__tilte {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    /* 만약, contact__links:hover라고만 쓰면
    div컨테이너 자체가 커져버려서 촌스러우므로
    div안의 icon만 선택해줘야한다. */
    transform: scale(1.1);
    color: var(--color-yellow);
}